:root {
  --dark-grey-color: #2d3436;
  --primary-grey-color: #636e72;
  --sub-grey-color: #b2bec3;
  --light-grey-color: #dfe6e9;
}

body {
  color: var(--main-grey-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
