.entity {
  margin: 20px 50px;
  background-color: var(--dark-grey-color);
  width: 100px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--dark-grey-color);
  font-weight: 500;
}

.box {
  margin: 20px 50px;
  background-color: var(--primary-grey-color);
  width: 100px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid var(--primary-grey-color);
}

.column {
  margin: 20px 50px;
  background-color: var(--sub-grey-color);
  width: 100px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid var(--sub-grey-color);
}

.element {
  margin: 20px 50px;
  background-color: var(--light-grey-color);
  width: 100px;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--light-grey-color);
  font-weight: 500;
}
